@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');  /*font-family: 'Lato', sans-serif;*/

body{
	margin:0px;
}

.nav{
	height: 160px;
	background-color:#1c3d6c;
	padding: 25px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.login{
	height: 400px;

}
.contacto{
	height: 530px;
	background-color:#1c3d6c;
	padding: 25px;
	box-sizing: border-box;
	border-top: 5px solid #c5911f;
	color: white;
	display: flex;
	flex-direction: column;	
}
.contact{
	margin-bottom: 20px;
}
a{
	color:white;
}

.icons{
	color:white;
}

.btn{
	background-color:#1c3d6c;
}

#login-page{
	width: 300px;
    top: 40px;
    position: relative;
}

.inline{
	display: flex;
	align-items: center;
	margin-top: 10px;
	
}
.besideIcon{
	margin: 0px;
	margin-left: 10px;
}
p{
	margin: 0px;
}
.iconMapa{
	margin-bottom:20px;
}
.footer{
	height: 360px;
	box-sizing: border-box;
	background-color: #3b4042;
	border-bottom: 5px solid #c5911f;
	padding: 20px;
}

.footer p{
	font-size: 14px;
	font-family: Lato;
	color: #CCCCCC;
	text-align: center;
}

.footer_icon{
	color: white;
	width: 42px;
	height: 42px;
	font-size: 42px;
}
.contenedor_footer_icon{
	display: flex;
	margin:20px;
}
#icono1{
	margin-left: auto;
	margin-right: 10px;
}
#icono2{
	margin-right: auto;
}

@media (min-width: 768px){

	.contacto{
		height: 230px;
		flex-direction: row;
		justify-content: space-around;
    
	}

	.footer{
		height: 200px;
	}

}